<% layout('layout') %>
<div class="container">
  <h3>Browse Categories</h3>
  <p>Select a category to explore</p>
  <div>
    <div class="d-flex gap-3 mb-3 category">
      <img src="/images/movies-thumbnail.jpg" alt="Movies" class="img-fluid" />
      <div>
        <h4><a href="/categories/1/genres">Movies</a></h4>
        <p>Explore a wide range of classic films from various genres.</p>
      </div>
    </div>
    <div class="d-flex gap-3 category">
      <img
        src="/images/tv-shows-thumbnail.jpg"
        alt="TV Shows"
        class="img-fluid"
      />
      <div>
        <h4><a href="/categories/2/genres">TV Shows</a></h4>
        <p>
          Discover timeless TV series that have captured audiences for years.
        </p>
      </div>
    </div>
  </div>
</div>
