<% layout('layout') %>

<div class="text-center">
  <h3>Welcome</h3>
  <h5>
    This is an inventory management app for the imaginary store: Classics.
  </h5>
  <p>
    Classics allows you to explore and recommend classic movies and TV shows.
    Browse through our curated categories, discover timeless favorites, and
    share your recommendations.
  </p>
  <a class="btn btn-primary rounded-pill shadow-sm" href="/categories"
    >Categories</a
  >
</div>
