<% layout('layout') %>

<form
  class="d-flex flex-column"
  action="/categories/<%= categoryId %>/genres/create"
  method="post"
>
  <div class="mb-3">
    <label for="name" class="form-label">Enter genre name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="E.g. Action"
      required
    />
  </div>
  <div class="mb-3">
    <label for="category_id" class="form-label">Select genre category</label>
    <select name="category_id" id="category_id" class="form-select">
      <option value="1" selected>Movies</option>
      <option value="2">TV Shows</option>
    </select>
  </div>
  <div class="ms-auto">
    <a
      class="btn btn-secondary me-1"
      href="/categories/<%= categoryId %>/genres"
      >Cancel</a
    >
    <button class="btn btn-primary" type="submit">Create genre</button>
  </div>
</form>
