<% layout('layout') %> 

<% if (errors && errors.length > 0) { %>
<div class="alert alert-danger">
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
</div>
<% } %>

<form
  class="d-flex flex-column"
  action="/categories/<%= categoryId %>/genres/create"
  method="post"
  novalidate
>
  <div class="mb-3">
    <label for="name" class="form-label">Enter genre name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="E.g. Action"
      value="<%= formData ? formData.name : '' %>"
      required
    />
    <div class="form-text">Note: Genre names that already exist in this category won't be created.</div>
  </div>
  <div class="ms-auto">
    <a
      class="btn btn-secondary me-1"
      href="/categories/<%= categoryId %>/genres"
      >Cancel</a
    >
    <button class="btn btn-primary" type="submit">Create genre</button>
  </div>
</form>
